@import url('https://fonts.googleapis.com/css2?family=Forum&family=Montserrat&family=Open+Sans:wght@300&family=Poppins:wght@300;400&family=Rubik&display=swap');

body{
    min-height: 100vh;
    font-family: 'Arimo', sans-serif;
    font-family: 'Forum', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: large;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: rgb(46, 46, 43);
}

.player-container{
    padding-top: 25px;
    height: 600px;
    width: 400px;
    background: #ccc;
    border-radius: 2em;
    box-shadow: 0 15px 30px 5px rgba(000, 000, 000, 0.5);
}

.img{
  height: 300px;
  width: 300px;
  position: relative;
  top: -50px;
  left: 50px;
}

.img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 2em;
    box-shadow: 0 5px 30px 5px rgba(000, 000, 000, 0.5);
}

.progress-container{
    background: #fff;
    border-radius: 3px;
    cursor: pointer;
    margin: 40px 20px;
    height: 4px;
    width: 90%;
}
.progress{
    background: #242323;
    border-radius: 5px;
    height: 100%;
    /* We change this as song moves */
    width: 0%;
    transition: width 0.1s linear;
}
.duration-wrapper{
    position: relative;
    top:  -25px;
    display: flex;
    justify-content: space-between;
}
.control{
    position: relative;
    top: -15px;
    left: 4em;
    width: 200px;
}
.fas{
    font-size: 40px;
    color: dimgrey;
    margin-right: 30px;
    cursor: pointer;
    user-select: none;
}

.fas:hover{
    filter: brightness(80%);
}


@media screen and (max-width: 377px){
   .player-container{
       width: 95vw;
   }
}